.Header {
    width: 100%;
    margin-top: 20px;
    padding-left: 14%;
}

#Headline {
    font-family: Source Sans Pro, sans-serif;
    font-size: 30pt;
    display: flex;
    justify-content: flex-start;
}

#Columns {
    display: flex;
    justify-items: center;
    margin-left: 14%;
    padding-bottom: 20px;
    width: 84%;
}

#FAQs {
    display: flex;
    justify-self: center;
}

.SubHeadline {
    color: #002d53;
    font-family: Source Sans Pro, sans-serif;
    font-size: 19pt;
}

.accordions {
    white-space: pre-line;
    width: 86%;
}

#panel1a-header {
    font-size: 13pt;
    font-weight: bolder;
}

#details {
    font-family: Source Sans Pro, sans-serif;
    font-size: 11pt;
}