#minside {
    padding-top: 3%;
    padding-left: 14%;
    padding-right: 14%;
}

.centered {
    margin-left: 5%;
    width: 90%;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.history-label {
    display: flex;
    align-items: center;
}

.history-label .MuiTypography-root {
    margin-left: 8px;
}

#rowGrid {
    height: 500px;
    margin-left: 7%;
}

#donutChartMyPage {
    width: 10%;
    height: 420px;
    margin-left: -1%;
}

#history {
    margin-top: -10px;
}


